#profile {
	background: url('../images/pexels-photo-14676.png') center center fixed no-repeat;
	// @include background(linear-gradient(#333, #ddd) left repeat);
	background-size: cover;
}

.profile {
	@include pad(160px default);
	color: #ddd;
	text-align: center;

	@include e('avatar') {
		width: 150px;
		height: 150px;
		border-radius: 15px;
	}

	@include e('heading') {
		font-size: em(48);
		margin-bottom: 0;
	}

	.tagline {
		font-size: em(16);
	}

	// @include e('footer') {
	// 	padding-top: 60px;

	// 	ul li {
	// 		display: inline;
	// 		font-size: 18px;
	// 	}
	// }

}
