@import "cus-variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "nav";
@import "hero";
// @import "skills";
// @import "projects";
// @import "about";
// @import "contact";
@import "footer";

section {
	height: 100%;
}

.action-text {
	color: $brand-primary;
}

html {
	height: 100%;
}
body {
	height: 100%;
	padding-top: 51px;
}