@import "cus-variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "nav";
@import "hero";
@import "skills";
@import "works";
@import "about";
@import "contact";
@import "footer";

#hero,
#works,
#skills,
#about {
	// height: 100%;
}

.action-text {
	color: #FFEB3B;
}

html {
	// height: 100%;
}
body {
	// height: 100%;
  	padding-top: 55px;
}

.padded {
	padding: 40px 0;
}


.form-control:focus {
    border-color: $brand-primary;
    box-shadow: none;
}

// .heading {
// 	border-bottom: 1px solid #ededee;
// 	padding-bottom: 10px;

// 	@include modifier('fancy') {
// 		width: 20%;
// 		border-bottom: 1px solid #111;
// 	}
// }
.fancy-heading {
	text-align: center;
	padding-bottom: 10px;

	&:after {
		content: '';
		
	}
	

	
}


